*{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
}
.section1-logo img{
    width: 220px;
}
.section1-menu{
    display: none;
    align-items: center;
    font-size: 16px;
    font-family: 'Lora', serif;
}
.section1-menu a{
    text-decoration: none;
    color: black;
    margin: 4%;
}
.section2{
    display: flex;
    align-items: center;
    margin: 10px;
}
.section2 p{
    font-family: 'Lora', serif;
    font-weight: bold;
}
.section2 img{
    max-width: 35px;
    max-height: 35px;
    padding: 4px;
}
.portada{
    margin-top: 45px;
    margin-bottom: 64px;
}
.portada img{
    width: 100%;
    height: 100%;
}
.portada-text p:nth-child(1){
    position: absolute;
    top: 15%;
    font-size: 28px;
    text-align: center;
    width: 100%;
    font-family: 'Playfair Display', serif;
}
.portada-text p:nth-child(2){
    position: absolute;
    top: 25%;
    font-size: 22px;
    text-align: center;
    width: 100%;
    font-family: 'Lora', serif;
}
.banner1{
    position: relative;
    display: flex;
    justify-content: center;
    left: 0%;
    margin-bottom: 28px;
    width: 80%;
}


.banner1-text {
    position: absolute;
    top: 40%;
    font-size: 29px;
    right: 45%;
}
.banner1-text p:nth-child(1){
    color: #529F0F;
    font-size: 40px;
}
.banner1-text p:nth-child(2){
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
.banner2{
    position: relative;
    display: flex;
    justify-content: center;
    left: 0%;
    margin-bottom: 28px;
    width: 80%;
}


.banner2-text {
    position: absolute;
    top: 40%;
    font-size: 29px;
    right: 45%;
}
.banner2-text p:nth-child(1){
    color: #529F0F;
    font-size: 40px;
}
.banner2-text p:nth-child(2){
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
.products, .latest{
    background-image: url(./Img/bg-1.jpg);
}
.products-text,
.productsnews-text,
.latest-text h1{
    text-align: center;
    margin-top: 55px;
    padding: 69px;
    font-family: 'Lora', serif;
}
.products-text h3:nth-child(1),
.productsnews-text h3:nth-child(1){
    font-size: 40px;
    font-family: 'Playfair Display', serif;

}
.latest-text h1:nth-child(1){
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    color: #303030;
}
.products-text p{
    color: #575757;
}
.productsnews-text p{
    color: #575757;
}
.products-text p:nth-child(2),
.productsnews-text p:nth-child(2){
    font-size: 23px;
    font-family: 'Lora', serif;
}
.product1latest-text p:nth-child(4),
.product2latest-text p:nth-child(4),
.product3latest-text p:nth-child(4){
    font-family: 'Lora', serif;
    font-weight: 600;
}

.product1-image,
.product2-image,
.product3-image,
.product4-image,
.product1new-image,
.product2new-image,
.product3new-image,
.product4new-image,
.product5new-image,
.product6new-image,
.product7new-image,
.product8new-image,
.product1latest-image,
.product2latest-image,
.product3latest-image{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 25px;
}
.product1-image img,
.product2-image img,
.product3-image img,
.product4-image img,
.product1new-image img,
.product2new-image img,
.product3new-image img,
.product4new-image img,
.product5new-image img,
.product6new-image img,
.product7new-image img,
.product8new-image img{
    width: 60%;
}


.product1-image p,
.product3-image p,
.product1new-image p,
.product2new-image p,
.product4new-image p,
.product5new-image p,
.product7new-image p{
    position: absolute;
    top: 34px;
    left: 24%;
    background: #529F0F;
    border-radius: 100%;
    width: 71px;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.product1-text,
.product2-text,
.product3-text,
.product4-text,
.product1new-text,
.product2new-text,
.product3new-text,
.product4new-text,
.product5new-text,
.product6new-text,
.product7new-text,
.product8new-text{
    position: static;
    margin-left: 20%;
    margin-bottom: 50px;
}
.product1-text p:nth-child(1),
.product2-text p:nth-child(1),
.product3-text p:nth-child(1),
.product4-text p:nth-child(1),
.product1new-text p:nth-child(1),
.product2new-text p:nth-child(1),
.product3new-text p:nth-child(1),
.product4new-text p:nth-child(1),
.product5new-text p:nth-child(1),
.product6new-text p:nth-child(1),
.product7new-text p:nth-child(1),
.product8new-text p:nth-child(1){
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;

}
.product1-text p:nth-child(2),
.product2-text p:nth-child(2),
.product3-text p:nth-child(2),
.product4-text p:nth-child(2),
.product1new-text p:nth-child(2),
.product2new-text p:nth-child(2),
.product3new-text p:nth-child(2),
.product4new-text p:nth-child(2),
.product5new-text p:nth-child(2),
.product6new-text p:nth-child(2),
.product7new-text p:nth-child(2),
.product8new-text p:nth-child(2){
    font-size: 18px;
    font-family: 'Lora', serif;
}
.phrase{
    margin: 60px;
}
.phrase-image{
    display: flex;
    justify-content: center;
    margin: 35px;
}
.phrase-text{
    text-align: center;
    margin-bottom: 30px;
}
.phrase-text p:nth-child(1){
    font-size: 22px;
    font-family: 'Lora', serif;
    margin-bottom: 25px;
}
.phrase-text p:nth-child(2){
    font-size: 9px;
    font-weight: bold;
    margin-bottom: 17px;
    font-family: 'Lora', serif;
}
.phrase-text p:nth-child(3){
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
}
.productsnews{
    background: #f1f1f1;
}
.product1latest-image img,
.product2latest-image img,
.product3latest-image img{
    width: 70%;
}
.product1latest-text p:nth-child(1),
.product2latest-text p:nth-child(1),
.product3latest-text p:nth-child(1){
    font-family: 'Lora', serif;
    color: #529F0F;
    font-size: 18px;
    font-weight: bold;
}
.product1latest-text p:nth-child(2),
.product2latest-text p:nth-child(2),
.product3latest-text p:nth-child(2){
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}
.product1latest-text p:nth-child(3),
.product2latest-text p:nth-child(3),
.product3latest-text p:nth-child(3){
    color: #575757;
    font-family: 'Lora', serif;
    font-size: 24px;
}
.product1latest-text p:nth-child(4),
.product2latest-text p:nth-child(4),
.product3latest-text p:nth-child(4){
    font-family: 'Lora', serif;
    font-size: 16px;
}
.product1latest-text,
.product2latest-text,
.product3latest-text{
    position: static;
    margin-left: 15%;
    margin-bottom: 50px;
}
.partners{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    margin-top: 55px;
}
.partner1{
    width: 264px;
}
#partner2,
#partner3,
#partner4,
#partner5{
    display: none;
}
.newsletter{
    background: url(./Img/bg-2.jpg);
    height: 236px;
}
.newsletter-text{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 36px;
    margin-top: 79px;
    font-family: 'Playfair Display', serif;
}
.newsletter-form{
    display: flex;
    justify-content: center;
}
.newsletter-form input{
    height: 54px;
    width: 230px;
}
.newsletter-form button{
    background: black;
    color: white;
}
footer{
    background: #f1f1f1;
    padding: 10px;
}
footer h2{
    font-family: 'Playfair Display', serif;
    padding: 16px;
}
footer p{
    padding: 13px;
    font-family: 'Lora', serif;
    font-size: 19px;
}
.Partend{
    background: #dcdcdc;
    padding: 31px;
}
.partend-text{
    text-align: center;
    font-size: 20px;
    margin-bottom: 22px;
    font-family: 'Lora', serif;
}
.partend-pay{
    display: flex;
    justify-content: center;

}
.partend-pay img{
    width: 436px;
}


@media (min-width: 900px) {
    .section2 img:nth-child(4){
        display: none;
    }
    .section1-menu{
        display: flex;
        font-weight: bold;
    }
    .section2 img{
        max-width: 33px;
        max-height: 33px;
        padding: 4px;
    }
    .portada-text p:nth-child(1){
        font-size: 64px;
        top: 197px;
    }
    .portada-text p:nth-child(2){
        font-size: 36px;
        top: 384px;
    }
    .cards,
    .cards1news,
    .cards2news,
    .latest-products{
        display: flex;
        justify-content: space-evenly;
    }
    .product1-image img,
    .product2-image img,
    .product3-image img,
    .product4-image img,
    .product1new-image img,
    .product2new-image img,
    .product3new-image img,
    .product4new-image img,
    .product5new-image img,
    .product6new-image img,
    .product7new-image img,
    .product8new-image img{
        width: 90%;
    }
    .product1-image p,
    .product3-image p,
    .product1new-image p,
    .product2new-image p,
    .product4new-image p,
    .product5new-image p,
    .product7new-image p{
        position: absolute;
        top: 8px;
        left: 9%;
        background: green;
        border-radius: 100%;
        width: 53px;
        height: 53px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .product1-text,
    .product2-text,
    .product3-text,
    .product4-text,
    .product1new-text,
    .product2new-text,
    .product3new-text,
    .product4new-text,
    .product5new-text,
    .product6new-text,
    .product7newnew-text,
    .product8new-text{
        margin-left: 5%;
    }
    #partner2,
    #partner3,
    #partner4,
    #partner5{
        display: flex;
    }
    #partner1,
    #partner2,
    #partner3,
    #partner4,
    #partner5{
        width: 264px;
    }
    footer{
        display: flex;
        justify-content: space-evenly;
        padding: 61px;
    }
    .Partend{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .partend-pay img{
        width: 270px;
        height: 28px;
    }
    .Partend{
        padding: 7px;
    }
    .banner1{
        position: relative;
        display: flex;
        justify-content: center;
        left: 0px;
        margin-bottom: 30px;
        width: 100%;
    }
    .banner2{
        position: relative;
        display: flex;
        justify-content: center;
        left: 0px;
        margin-bottom: 30px;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .banner{
        display: flex;
        top: 10px;
        justify-content: center;
    }
    .banner1{
        left: -20px;
    }
    .banner2{
        left: 40px;
        height: 272px;
    }
    .portada-text p:nth-child(1){
        font-size: 74px;
        top: 300px;
    }
    .portada-text p:nth-child(2){
        font-size: 36px;
        top: 520px;
    }
}


